<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About Us</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi cum saepe
      ab at dolore? Enim, fuga. Reprehenderit deleniti perspiciatis aliquam
      maiores harum natus, architecto quia animi inventore placeat dolorem
      ullam.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi cum saepe
      ab at dolore? Enim, fuga. Reprehenderit deleniti perspiciatis aliquam
      maiores harum natus, architecto quia animi inventore placeat dolorem
      ullam.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi cum saepe
      ab at dolore? Enim, fuga. Reprehenderit deleniti perspiciatis aliquam
      maiores harum natus, architecto quia animi inventore placeat dolorem
      ullam.
    </p>
  </div>

  <%- include('./partials/footer.ejs') %>
</body>

</html>